html, body {
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  @include wrapper();
}

.wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.header {
  @include flex-grow(1);
}
.content {
  @include flex-grow(1);
}
.footer {
  @include flex-grow(1);
}

.row {
  @include row-flex();
}

.col {
  @include col();
}
