doctype
html(lang='ru')
  head
    include ../components/head
    block title
      title Владислав Нуров
  body
    .wrapper-flex 
      include ../components/header
      //- include ../components/menu
      .content
        block content
      include ../components/footer
