extends ../layout/page

block title 
  title В. Нуров. Фронтенд разработчик. Резюме.
  
block content
  .descript 
    .wrapper
      .row.descript-top
        .resume__text
            p 
             b Привет! 
            br
            p Меня зовут Влад, я родился и живу в России, г Челябинск. Я занимаюсь вёрсткой и веб-дизайном более 4 лет, из них последний год посвятил фронтенд-разработке. 
            br 
            p Работаю на фрилансе и по рекомендациям.
        .contact__block
          .contact__item
            .item__h1 
              b Контакты
            br
            .item__links
              a(href="https://t.me/vnurov" target="_blank").link 
                i.fab.fa-telegram
              a(href="viber://add?number=+79823370419" target="_blank").link 
                i.fab.fa-viber
              a(href="https://vk.com/vnurov" target="_blank").link 
                i.fab.fa-vk
              a(href="skype:waltan_mari?chat" target="_blank").link 
                i.fab.fa-skype
              a(href="https://github.com/vnurov" target="_blank").link 
                i.fab.fa-github
              a(href="https://moikrug.ru/vladislavnurov" target="_blank").link.link-moikrug 
      .row
        .labels
          .label.label-success
            | Адаптивная вёрстка
          .label.label-success
            | Кроссбраузерная вёрстка
          .label.label-success
            | PSD -> HTML
          .label.label-success
            | Вёрстка писем
          .label.label-success
            | Интеграция API на клиенте (REST)
      .row
        .resume__block
          .block__h1 🛠 Используемые технологии
          .block__items
            .block__item
              .item__icon
                .webpack-logo
              .item__h2 Webpack
            .block__item
              .item__icon(style="color: #c69") 
                i.fab.fa-gulp(style="color: #cf4646")
              .item__h2 Gulp.JS
            .block__item
              .item__icon(style="color: #333333") 
                i.fab.fa-node
              .item__h2 Node.JS
            .block__item
              .item__icon(style="color: #42b883") 
                i.fab.fa-vuejs
              .item__h2 Vue.JS
            .block__item
              .item__icon(style="color: #f7df1e") 
                i.fab.fa-js-square
              .item__h2 ES6
            .block__item
              .item__icon(style="color: #c9510c") 
                i.fab.fa-git-square
              .item__h2 Git-Flow
            .block__item
              .item__icon(style="color: #c69") 
                i.fab.fa-sass
              .item__h2 Sass/Scss
            .block__item
              .item__icon
                .pug-logo
              .item__h2 Pug/Jade
            .block__item
              .item__icon(style="opacity: .1; font-size: 24px;")
                i.fas.fa-ellipsis-h
              .item__h2(style="text-transform: none") etc.
