meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", attr)

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

link(rel="stylesheet", href="assets/js/slick/slick.css", attr)
link(rel="stylesheet", href="assets/js/slick/slick-theme.css", attr)
script(src="assets/js/slick/slick.min.js")
script(src="assets/js/slider.js")

script(src="assets/js/tabs.js")

link(rel="stylesheet", href="assets/main.css", attr)

link(rel='icon', href='assets/img/favicon.ico')
