.header.block
  .label.label-success 
    .label__icon(style="margin-right: 10px") 
      //- i.fas.fa-code-branch
      | 👋 
    | Открыт к предложениям
    
  .wrapper
    .row
      .header__top
        .header__h1 🙋‍♂ Владислав Нуров
      .header__bottom 
        .header__h1.header__h1-grey Фриланс веб-дизайнер, верстальщик, фронтенд разработчик.
