@mixin label-type($font-color, $background-color) {
  color: $font-color;
  background: $background-color;

  &__icon {
    svg {
      fill: $font-color;
    }
  }

  // &:hover {
  //   background: darken($background-color, 5%);
  // }
  //
  // &:active {
  //   background: darken($background-color, 10%);
  //   transform: translateY(1px);
  // }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 24px;
  font-weight: 500;
  font-size: $font-size-small;
  cursor: default;

  &__icon {
    display: inline-block;
    margin-right: 6px;
    font-size: 14px;
    svg {
      fill: red;
    }
  }

  &-success {
    @include label-type(#fff, $palette-purple-300);
  }
}
